# Godot-specific ignores
*/.import/*
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

# System/tool-specific ignores
.directory

*.import
Final/Assets/MapHR_Red.png.import
Final/.import/Bird Icon.png-a7e51c49f9e2bd241b535b3ba9fc9fe1.stex
Final/.import/Flag.png-a64b2fc1f956b9f509220289c9364415.stex
Final/.import/FountainIcon.png-9d752800e8c2b123486f77b2b44d2469.stex
Final/.import/Logo.png-95a3481791cd872ee4e9e0d7aa179c5c.stex
Final/.import/MapBeige.png-c9569223cfef63ac1a266d5fe29b6b22.stex
Final/.import/MapHR_Beige.png-a9506e98824d216c87dfe0712493c029.stex
Final/.import/MapHR_Red.png-84937e8f0d6d7104a7aa5283d909de5d.stex
Final/.import/MapRed.png-0b43ca7f31ad754dae0bd606f7f56117.stex
Final/.import/Newspaper_Daily.png-7a3416249de615fb7c2ccee6b8d43c0b.stex
Final/.import/Newspaper_Floxx.png-5035af96df24c49520b00802a8c08d94.stex
Final/.import/Newspaper_Local.png-03b8e8b1e4981461f2beec5cd102ecda.stex
Final/.import/Newspaper_Times.png-1132aaa07e7019dea7c04d72e0a89284.stex
Final/.import/NewsPaperIcon.png-23a9a0cf5fdf1dd7fe932841b33cf1c8.stex
Final/.import/ParkBenchIcon.png-72c8d4cee5d7c8c5c08fa32986d78a84.stex
Final/.import/PiggieIcon.png-1000d56f24a4e36da2913ea4536d8e10.stex
Final/.import/PushPin.png-71843c4e969fc914ab073e4299e8f368.stex
Final/.import/splat.png-0825a189cc788d3e16f7ea1f38ec316f.stex
Final/.import/White.png-86ba672a954dc7b4b0af29cc9952ba5c.stex
Final/Assets/Bird Icon.png.import
Final/Assets/Flag.png.import
Final/Assets/FountainIcon.png.import
Final/Assets/Logo.png.import
Final/Assets/MapBeige.png.import
Final/Assets/MapHR_Beige.png.import
Final/Assets/MapRed.png.import
Final/Assets/Newspaper_Daily.png.import
Final/Assets/Newspaper_Floxx.png.import
Final/Assets/Newspaper_Local.png.import
Final/Assets/Newspaper_Times.png.import
Final/Assets/NewsPaperIcon.png.import
Final/Assets/ParkBenchIcon.png.import
Final/Assets/PiggieIcon.png.import
Final/Assets/PushPin.png.import
Final/Assets/splat.png.import
Final/Assets/White.png.import
